.logoCodo {
    width: 30%;
    height: 20%;
}

#headerr {
    background-image: url(../img/ba1.jpg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}

.btn-success {
  margin-left: 2%;
}


#h1-index {
  margin-top: 20%;
  margin-left: 80%;
  text-align: end;
}
#texto {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70%;
  text-align: end;
}

#btn-header{
  margin-left: 70%;
}

#card-medio {
  margin-left: 2%;
  margin-right: 2%;
}

#honolulu {
  width: 150%;
  padding: 0 !important;
}

#tickets {    
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
}